@{
    ViewBag.Title = "Index";
}

<!-- third -->


<section id="major">

    <div id="third">
        <div class="container" data-aos="flip-left">
            <div class="box">
                <div class="col-md-9 offset-md-2 text-center">
                    <h3>線上點燈真方便!!!</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/Images/光明燈.jpg">
                            <h6>點一盞光明燈</h6>
                        </div>
                        <div class="col-md-8">
                            <p>蒐羅全台各地多間廟宇、神明詳盡介紹，提供多種光明燈選擇，讓您拜對神明，點盞明燈，逢凶化吉，好運旺旺來!!!</p>
                            <p>提供全台各地廟宇、神明詳細資訊，不用再辛苦奔波各縣市，線上光明燈任你挑!!!</p>
                            <p>歡迎來本網站線上點燈安太歲，財運事業發發發!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="server" id="server">
        <h1 class="heading" data-aos="fade-up-right">服務內容</h1>
        <div class="box-container">
            <!-- 第一個服務 -->
            <div class="box" data-aos="zoom-in">
                <a href="@Url.Action("pList", "Product")">
                    <img class="image" src="/Images/太歲燈-03.jpg">
                    <div class="content">
                        <img src="/Images/光明燈-03.png">
                        <h3>點燈服務</h3>
                    </div>
                </a>
            </div>

            <!-- 第2個服務 -->
            <div class="box" data-aos="zoom-in-up">
                <a href="@Url.Action("pick","A")">
                    <img class="image" src="/Images/籤筒-02.jpg">
                    <div class="content">
                        <img src="/Images/籤筒.png">
                        <h3>線上抽籤</h3>
                    </div>
                </a>
            </div>

            <!-- 第3個服務 -->
            <div class="box" data-aos="zoom-in-down">
                <a href="@Url.Action("Register", "Home")">
                    <img class="image" src="/Images/會員-02.jpg">
                    <div class="content">
                        <img src="/Images/會員.png">
                        <h3>加入會員</h3>
                    </div>
                </a>
            </div>

        </div>

    </div>

</section>