
@{
    ViewBag.Title = "我是首頁";
}

<h2>我是首頁</h2>
<button onclick="start();">開始抽籤</button>
<script>
    function start() {
        document.location.href = "https://localhost:44304/A/%E6%8A%BD%E7%B1%A4%E8%A9%A9";

    }
</script>

